<?xml version="1.0" encoding="utf-8" ?>
<configuration>



  <configSections>
    <!--log4net-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Source_SP_OutPut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--log4写日志-->
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>




 <connectionStrings>
    <add  name="contr" connectionString="Data Source=192.168.1.82;Initial Catalog=ZZMH;User ID=sa;password=yfb@123"/>
  </connectionStrings>

  <appSettings>

    <add key="webSite" value="http://58.117.137.4"/>

    <add key="beforeImageSite" value="http://58.117.137.4/"/>

    <add key="userName" value="admin"/>
    <add key="password" value="mtgzj@2015"/>
    <add key="domain" value="mtgzj.com"/>

  
    <add key="htmlBody" value="_x6b63__x6587_"/>

    <add key="imageDownloadSpeed" value="500"/>


    <add key="dicForeachSpeed" value="1000"/>


    <add key="NeedInsertDB" value="true"/>

    <add key="rootPart" value="ZZMH"/>
  </appSettings>


  <!--<connectionStrings>
    <add  name="contr" connectionString="Data Source=192.168.1.82;Initial Catalog=DaYuYiXiaoDB;User ID=sa;password=yfb@123"/>
  </connectionStrings>

  <appSettings>

    <add key="webSite" value="http://sharepoint2013"/>

    <add key="beforeImageSite" value="http://sharepoint2013/"/>

    <add key="userName" value="Administrator"/>
    <add key="password" value="yfb@123"/>
    <add key="domain" value="SP2013.com"/>

    --><!--MainBody   _x6b63__x6587_--><!--
    <add key="htmlBody" value="_x6b63__x6587_"/>

    <add key="imageDownloadSpeed" value="500"/>


    <add key="dicForeachSpeed" value="1000"/>


    <add key="NeedInsertDB" value="true"/>

    <add key="rootPart" value="DYYX"/>
  </appSettings>-->
</configuration>


